@import "tailwindcss";

@font-face {
    font-family: 'HoshikoSatsuki';
    src: url('./assets/fonts/HoshikoSatsuki.ttf') format('truetype');
}

body {
    @apply text-white;
}

@theme {
    --font-hoshiko: 'HoshikoSatsuki', sans-serif;
    --color-primaryYellow: #f49a31;
}